h1 {
    color: #09B0E5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin-top: 170px;
}

main p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #DFEBE6;
    font-size: 34px;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 125px;
    margin-right: 125px;
}

main {
    width: 1200px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #DFEBE6;
    margin: 115px;
}

form input {
    width: 950px;
    height: 55px;
    background: #161614;
    border-radius: 4px;
    margin: 10px 115px 60px 115px;
    font-size: 30px;
    padding-left: 5px;
}

textarea {
    width: 950px;
    height: 165px;
    background: #161614;
    border-radius: 4px;
    margin: 10px 115px 60px 115px;
    font-size: 30px;
    padding-left: 5px;
}

.borda-formulario {
    display: block;
    text-align: center;
    width: 1200px;
    height: 1150px;
    margin: 120px 0;
    vertical-align: top;
    border: 4px solid #09B0E5;
    box-sizing: border-box;
    border-radius: 40px;
    padding-top: 40px;
}

.formulario {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: left;
    color: #DFEBE6;
}

fieldset {
    border: none;
    margin-left: 115px;
    padding: 0;
}

select {
    font-size: 22px;
    width: 150px;
    height: 30px;
    color: #DFEBE6;
    background: #161614;
    cursor: pointer;
}

.aviso{
    font-size: 20px;
}

.enviar {
    border-color: #09B0E5;
    border-radius: 0;
    color: #DFEBE6;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.enviar:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #09B0E5;
    z-index: -1;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

.enviar:hover {
    color: #DFEBE6;
    ;
}

.enviar:hover:after {
    width: 110%;
}

.enviar {
    width: 400px;
    height: 100px;
    display: inline-block;
    margin: 130px 395px 130px 405px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 40px;
    background-color: #1d1e1a;
    border: 3px 3px 3px 3px;
    border-color: #09B0E5;
}

footer {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #1d1e1a;
    padding: 40px 0;
    margin-top: 400px;
}

.links {
    padding: 8px 0;
}

.links img {
    padding: 8px;
}

.copyright {
    color: #DFEBE6;
    font-size: 13px;
    margin: 20px 0 0;
}